:root {
  --primary-color: #2d4654;
  /* --secondary-color: #4e4d5c; */
  --secondary-color: #f06449;
  --secondary-dark: #cc5740;
  --card-color: white;
  --border-color: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--primary-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: 100vh;
}

.form-container input::placeholder {
  color: transparent;
}

.form-container form label {
  display: flex;
  align-items: center;
  fill: white;
}

.form-container form input {
  display: block;
}

.form-container form label {
  margin-bottom: 0.2rem;
}

.form-container {
  background: var(--card-color);
  border-radius: 5px;
  width: 30%;
  padding: 3rem;
}

.container h1 {
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.form-container input {
  line-height: 1.7rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  width: 100%;
  background: rgb(228, 228, 228);
  border: none;
}

.form-container #login {
  background: var(--secondary-color);
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  width: 100%;
  color: var(--card-color);
  margin-top: 5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  line-height: 1.7rem;
  font-size: 1rem;
  border-bottom: 4px solid var(--secondary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .form-container #login i {
  margin-right: 5px;
} */

.form-container footer {
  text-align: center;
  width: 100%;
  justify-content: center;
}

.form-container footer strong {
  text-decoration: underline;
  cursor: pointer;
  color: var(--secondary-color);
}

@media (max-width: 500px) {
  .container {
    background-color: var(--card-color);
  }
}

@media (max-width: 800px) {
  .form-container {
    width: 100vw;
    width: 75%;
  }

  .form-container form label {
    display: none;
  }

  .form-container input {
    font-size: 1.2rem;
  }

  .form-container input::placeholder {
    color: inherit;
  }
}
