* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--main-font-color);
  background: var(--border-color);
}

#main-nav {
  background: var(--dark-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

#main-nav p {
  margin: 0 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.search-container {
  display: flex;
  align-items: center;
  background: var(--border-color);
  border-radius: 50px;
  width: 35rem;
  color: var(--main-font-color);
  padding: 0.2rem;
}

.search-container #search {
  width: 31rem;
}

#search-icon {
  cursor: pointer;
  padding-left: 1rem;
}

#clear-icon {
  cursor: pointer;
  color: var(--main-font-color);
  transition: color ease-in-out 0.2s;
}

#clear-icon:hover {
  color: var(--primary-accent-color);
  transition: color ease-in-out 0.2s;
}

#dummy-search-button {
  display: none;
}

#search:focus {
  outline: none;
}

#logout-button {
  display: flex;
  align-items: center;
  border: none;
  background: var(--dark-accent-color);
  /*
   * This is a bit hacky. Maybe not just a bit.
   * When hovering over this button, the border
   * gets updated which causes the whole menu
   * section to shift down a bit because 2 extra
   * pixels get added to the overall thickness.
   * Is it clear? If not, then you're not alone
   * whith that LOL
   */
  border: 1px solid var(--dark-accent-color);
  letter-spacing: 1px;
  padding: 0.4rem 1rem;
  margin-left: 35rem;
  transition: all 0.2s ease-in-out;
}

#logout-button:hover {
  background: var(--dark-color);
  border: 1px solid var(--dark-accent-color);
  transition: all 0.2s ease-in-out;
}

.main-container {
  margin: 1rem 2rem;
}

#hook {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1rem;
  width: 100%;
}
/* TODO add hover shadow */
.card {
  background: var(--main-color);
  border-radius: 10px;
  padding: 1rem;
  width: 25vw;
  cursor: pointer;
}

.card-title {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}

.card-title i {
  color: var(--primary-accent-color);
}

.card .decorated {
  margin-left: 0.8rem;
}

.card-entry {
  display: flex;
  align-items: center;
}

.additional-info {
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: 500;
}

.additional-info i {
  color: var(--primary-color);
}
